div{
    		
    		display: block;
    	}.prices{
    		height: 50px;
    		width: 520px;
    		max-width: 520px;
    		float: left;
   			 font-family: arial,'Hiragino Sans GB',"\5b8b\4f53",sans-serif;
		}.fl{
			float: left;
		}.searchbt{
	 width: 80px;
    text-align: center;
    background-color: #0ec5a1;
    line-height: 34px;
    height: 34px;
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}.searchbt span {
    color: #fff;
    font-size: 14px;
}.bordernon{
	border: none;
	color: #fff;
    font-size: 14px;
}

    
    ul{
    	margin: 0 auto;
    }.hl1 {
    	list-style: none;
    display: block;
    list-style-type: none;
    
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}.hl1 li{
	float: left;
    width: 55px;
        margin: 0;
    padding: 0;
        display: list-item;
    text-align: -webkit-match-parent;
}li.sep{
	float: left;
    width: 10px;
    text-align: center;
    height: 34px;
    line-height: 30px;
    margin: 0;
    padding: 0;
        display: list-item;
}input{
	display: block;
	    width: 416px
}.hl{
	width: 45px;
    padding: 0 4px;
    background:#e5e4e4;
    height: 32px;
    border: solid 1px #dfdfdf;
    line-height: normal;
    font-family: arial;
        font-size: 100%;
        margin: 0;
            -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}.searchin{
	    border: none;
    height: 34px;
    background: #e5e4e4;
    padding: 0 10px;
    color: #333;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 14px;
    line-height: 30px;
}
